/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

h1 {
  font-size: 1.5em;
}

.fa-solid {
  color: var(--main-color);
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

/****** Header ***********/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 30px 0;
}

.header-logo {
  display: flex;
  align-items: center;
  padding: 15px;
}

.header-logo img {
  width: 60px;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav a {
  margin-left: 30px;
  font-size: 16px;
  position: relative; /* Required for the overline effect */
  transition: all 0.3s ease-in-out;
}

.header-nav a:hover {
  color: var(--main-color);
}

.header-nav a:hover::before {
  content: "";
  position: absolute;
  top: -15px; /* Moves the border to just below the top of the body */
  width: 100%;
  height: 2px;
  background-color: var(--main-color);
}

/****** Recherche ***********/
.recherche {
  display: flex;
  align-items: center;
  background-color: var(--main-bg-color);
  border-radius: 0.75rem;
  max-width: fit-content;
  margin: 50px 0;
}

.recherche i {
  padding: 0 15px;
  color: black;
}

.recherche input {
  border: none;
  background-color: white;
  color: black;
  font-size: 16px;
  padding: 10px;
  margin: 0;
  border: var(--main-bg-color) 1px solid;
  font-weight: bold;
}

.recherche button {
  background-color: var(--main-color);
  border: none;
  color: white;
  font-size: 16px;
  padding: 10px;
  border-radius: 0 0.75rem 0.75rem 0;
  font-weight: bold;
}

.recherche .fa-magnifying-glass {
  display: none;
}

/****** Filtres ***********/
#filtres-parent {
  display: flex;
  align-items: center;
  gap: 10px;
}

.filtres {
  display: flex;
  margin: 10px 0;
}

.filtres button {
  background-color: white;
  border-color: rgb(182, 182, 182);
  border: 2px solid #e8e8e8;

  color: black;
  font-size: 16px;
  padding: 15px 10px;
  border-radius: 2rem;
  margin-right: 10px;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

.filtres button * {
  margin-right: 5px;
}

.filtres button:hover {
  background-color: var(--filter-bg-color);
}

/****** Info ***********/
.info {
  display: flex;
  align-items: center;
  margin: 25px 0;
  gap: 10px;
}

.fa-circle {
  color: #e8e8e8;
}

.info .fa-stack {
  font-size: smaller;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
  width: 65%;
}

.hebergements-titles {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.hebergements-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

.hebergements-cards a {
  width: 30%;
}

.hebergements-cards .card-title {
  font-size: 14px;
  font-weight: bold;
}

.hebergements-cards .card-subtitle {
  font-size: 13px;
}

.hebergements-cards .card-rating {
  margin-bottom: 5px;
}

.hebergements-cards img {
  width: 100%;
  height: 150px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.hebergements-see-more {
  display: block;
  margin-top: 30px;
  font-weight: bold;
}

/****** Populaires ***********/
.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}

/****** Activités ***********/

.activites {
  width: 100%;
  margin: 50px 0;
}

.activites-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

.activites-cards .card {
  width: 23%;
  padding: 0;
}

.activites-cards .card-txt {
  font-size: 14px;
  font-weight: bold;
  padding: 10px;
}

.activites-cards .card-content {
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.activites-cards .card-title {
  margin: 5px 0;
}

.activites-cards img {
  width: 100%;
  height: 350px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

footer {
  background-color: var(--main-bg-color);
  padding: 25px 25px;
}

.footer-content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20%;
}

.footer-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-card a {
  text-decoration: none;
}

.footer-card .footer-title {
  margin: 0;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  /* Filtres */
  #filtres-parent {
    display: block;
  }

  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards a {
    width: 30%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }

  /****** Hébergements *******/
  .hebergements-cards {
    gap: 15px;
  }

  /****** Activités ***********/
  .activites-cards {
    gap: 15px;
  }

  .activites-cards img {
    height: 225px;
  }
}
/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  /****** General ***********/

  body {
    margin: 0;
  }

  .main-container {
    padding: 0;
  }

  .section-title {
    font-size: 20px;
  }

  /****** Header ***********/

  .header {
    flex-direction: column;
    align-items: center;
  }

  .header-logo {
    justify-content: center;
    margin: 20px 0;
  }

  .header-logo img {
    width: 100px;
  }

  .header-nav {
    justify-content: space-around;
    width: 100%;
  }
  .header-nav a {
    margin: 0 10px;
  }

  /* General styles */
  .header-nav {
    display: flex;
    justify-content: space-around;
    position: relative;
    border-bottom: 3px solid #e5e5e5; /* Grey border beneath the tabs */
  }

  .header-nav a {
    font-size: 18px;
    padding: 10px 0;
    color: black;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
    width: 50%;
    text-align: center;
  }

  .header-nav a:hover {
    color: var(--main-color);
    border-top: none;
  }

  .header-nav a:hover::before {
    content: none; /* Removes the hover effect entirely */
  }

  .header-nav:not(:hover) {
    /* remove underline if header-nav is not hovered */
    .underline {
      display: none;
    }
  }

  /* Underline */
  .underline {
    position: absolute;
    bottom: -3px;
    left: 0;
    height: 3px;
    width: 50%; /* Half width, since there are 2 tabs */
    background-color: var(--main-color);
    transition: left 0.3s ease-in-out;
  }

  /* Hover effect - Move the underline */
  #tab1:hover ~ .underline {
    left: 0; /* Move underline to the first tab */
  }

  #tab2:hover ~ .underline {
    left: 50%; /* Move underline to the second tab */
  }

  .sub-header {
    margin: 0 20px;
  }
  .sub-header h2 {
    margin-bottom: 0;
  }
  .sub-header p {
    margin-top: 5px;
  }

  /****** Recherche ***********/
  .recherche .fa-magnifying-glass {
    display: block;
    background-color: var(--main-color);
    /* gray shadow beneath the button */
    box-shadow: 1px 3px 5px gray;
    padding: 15px;
    border-radius: 0.75rem;
    color: white;
  }

  .recherche button {
    display: none;
  }

  /* center the recherche section */
  .recherche {
    margin: 10px auto;
  }

  /****** Filtres ***********/
  #filtres-parent .section-title {
    margin-left: 4%;
  }
  /* 2 rows of 2 filters */
  .filtres {
    gap: 10px 0;
    flex-wrap: wrap;
    justify-content: center;
    text-align-last: start;
  }

  .filtres button {
    width: 45%;
    padding: 10px 15px;
  }

  /****** Info ***********/
  .info {
    margin: 30px 20px;
  }

  /****** Hebergements And Populaires ***********/
  /* make the populaires section above the hebergements section */
  .hebergements-and-populaires {
    flex-direction: column-reverse;
  }

  .hebergements-and-populaires section {
    width: 100%;
    margin-top: 0;
    border-radius: 0;
  }

  /****** Populaires ***********/
  .populaires-cards {
    flex-direction: column;
    gap: 15px;
  }

  .populaires-cards a {
    width: 100%;
  }

  .populaires-cards .card {
    margin-top: 0px;
  }

  .populaires .populaires-title {
    margin-bottom: 15px;
  }

  /****** Hebergements ***********/
  .hebergements {
    width: 100%;
    margin-top: 50px;
    background-color: white !important;
  }

  .hebergements-cards {
    flex-direction: column;
    gap: 15px;
    align-content: center;
  }

  .hebergements-cards .card {
    width: 100%;
  }

  .hebergements-cards img {
    height: 105px;
  }

  .hebergements-cards a {
    width: 100%;
  }

  .hebergements-cards .card-subtitle,
  .hebergements-cards .card-title {
    margin: 5px 0;
  }

  /****** Activités ***********/
  #activites .section-title {
    margin-left: 8%;
  }

  .activites-cards {
    flex-direction: column;
    gap: 15px;
    align-content: center;
  }

  .activites-cards .card {
    width: 85%;
  }

  .activites-cards img {
    height: 225px;
  }

  /****** Footer ***********/
  /* make the footer 100% width */
  /* footer {
    width: 100%;
  } */

  .footer-content {
    flex-direction: column;
    gap: 20px;
  }
}
